.scrollable {
    overflow: hidden;
}

.scrollable:hover {
    overflow: auto;
}

/* Target WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    display: hidden;
  }
  
.scrollable::-webkit-scrollbar { 
    display: none;
}