.scrollable {
    overflow: hidden;
}

.scrollable:hover {
    overflow: auto;
}

/* Target WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    display: hidden;
  }
  
.scrollable::-webkit-scrollbar { 
    display: none;
}

.react-datepicker-wrapper input {
    border-radius: 0.375rem;
    font-size: 14px;
    padding-left: 5px;
}